src/main/java/by/com/lifetech/billingapi/wsdl/message/message-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown.--><definitions targetNamespace="http://api.ws.rtn.idr.astelit.ukr/" name="MessageTransmissionAPI" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.ws.rtn.idr.astelit.ukr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://astelit.ukr/idr/sms/message/" schemaLocation="message-service.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://api.ws.rtn.idr.astelit.ukr/" schemaLocation="message-service_1.xsd"/>
    </xsd:schema>
  </types>
  <message name="transmitMessage">
    <part name="parameters" element="tns:transmitMessage"/>
  </message>
  <message name="transmitMessageResponse">
    <part name="parameters" element="tns:transmitMessageResponse"/>
  </message>
  <message name="transmitBulkMessage">
    <part name="parameters" element="tns:transmitBulkMessage"/>
  </message>
  <message name="transmitBulkMessageResponse">
    <part name="parameters" element="tns:transmitBulkMessageResponse"/>
  </message>
  <message name="getAllMessages">
    <part name="parameters" element="tns:getAllMessages"/>
  </message>
  <message name="getAllMessagesResponse">
    <part name="parameters" element="tns:getAllMessagesResponse"/>
  </message>
  <portType name="MessageTransmissionAPI">
    <operation name="transmitMessage">
      <input wsam:Action="http://api.ws.rtn.idr.astelit.ukr/MessageTransmissionAPI/transmitMessageRequest" message="tns:transmitMessage"/>
      <output wsam:Action="http://api.ws.rtn.idr.astelit.ukr/MessageTransmissionAPI/transmitMessageResponse" message="tns:transmitMessageResponse"/>
    </operation>
    <operation name="transmitBulkMessage">
      <input wsam:Action="http://api.ws.rtn.idr.astelit.ukr/MessageTransmissionAPI/transmitBulkMessageRequest" message="tns:transmitBulkMessage"/>
      <output wsam:Action="http://api.ws.rtn.idr.astelit.ukr/MessageTransmissionAPI/transmitBulkMessageResponse" message="tns:transmitBulkMessageResponse"/>
    </operation>
    <operation name="getAllMessages">
      <input wsam:Action="http://api.ws.rtn.idr.astelit.ukr/MessageTransmissionAPI/getAllMessagesRequest" message="tns:getAllMessages"/>
      <output wsam:Action="http://api.ws.rtn.idr.astelit.ukr/MessageTransmissionAPI/getAllMessagesResponse" message="tns:getAllMessagesResponse"/>
    </operation>
  </portType>
  <binding name="MessageTransmissionAPIPortBinding" type="tns:MessageTransmissionAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="transmitMessage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="transmitBulkMessage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllMessages">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="MessageTransmissionAPI">
    <port name="MessageTransmissionAPIPort" binding="tns:MessageTransmissionAPIPortBinding">
      <soap:address location="http://172.16.211.61:8090/idr-rtn/idr-rtn/message-service"/>
    </port>
  </service>
</definitions>