src/main/java/by/com/lifetech/billingapi/wsdl/chain-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://chain.api.ws.rtn.idr.astelit.ukr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://chain.api.ws.rtn.idr.astelit.ukr/" name="ChainAPI">
<types>
<xsd:schema>
<xsd:import namespace="http://chain.api.ws.rtn.idr.astelit.ukr/" schemaLocation="http://172.16.210.60:8210/idr-rtn/idr-rtn/chain-service?xsd=1"/>
</xsd:schema>
</types>
<message name="getChainSignature">
<part name="parameters" element="tns:getChainSignature"/>
</message>
<message name="getChainSignatureResponse">
<part name="parameters" element="tns:getChainSignatureResponse"/>
</message>
<message name="executeDebugChain">
<part name="parameters" element="tns:executeDebugChain"/>
</message>
<message name="executeDebugChainResponse">
<part name="parameters" element="tns:executeDebugChainResponse"/>
</message>
<message name="executeChain">
<part name="parameters" element="tns:executeChain"/>
</message>
<message name="executeChainResponse">
<part name="parameters" element="tns:executeChainResponse"/>
</message>
<message name="getRegisteredChainsNames">
<part name="parameters" element="tns:getRegisteredChainsNames"/>
</message>
<message name="getRegisteredChainsNamesResponse">
<part name="parameters" element="tns:getRegisteredChainsNamesResponse"/>
</message>
<portType name="ChainAPI">
<operation name="getChainSignature">
<input wsam:Action="http://chain.api.ws.rtn.idr.astelit.ukr/ChainAPI/getChainSignatureRequest" message="tns:getChainSignature"/>
<output wsam:Action="http://chain.api.ws.rtn.idr.astelit.ukr/ChainAPI/getChainSignatureResponse" message="tns:getChainSignatureResponse"/>
</operation>
<operation name="executeDebugChain">
<input wsam:Action="http://chain.api.ws.rtn.idr.astelit.ukr/ChainAPI/executeDebugChainRequest" message="tns:executeDebugChain"/>
<output wsam:Action="http://chain.api.ws.rtn.idr.astelit.ukr/ChainAPI/executeDebugChainResponse" message="tns:executeDebugChainResponse"/>
</operation>
<operation name="executeChain">
<input wsam:Action="http://chain.api.ws.rtn.idr.astelit.ukr/ChainAPI/executeChainRequest" message="tns:executeChain"/>
<output wsam:Action="http://chain.api.ws.rtn.idr.astelit.ukr/ChainAPI/executeChainResponse" message="tns:executeChainResponse"/>
</operation>
<operation name="getRegisteredChainsNames">
<input wsam:Action="http://chain.api.ws.rtn.idr.astelit.ukr/ChainAPI/getRegisteredChainsNamesRequest" message="tns:getRegisteredChainsNames"/>
<output wsam:Action="http://chain.api.ws.rtn.idr.astelit.ukr/ChainAPI/getRegisteredChainsNamesResponse" message="tns:getRegisteredChainsNamesResponse"/>
</operation>
</portType>
<binding name="ChainAPIPortBinding" type="tns:ChainAPI">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getChainSignature">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="executeDebugChain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="executeChain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRegisteredChainsNames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ChainAPI">
<port name="ChainAPIPort" binding="tns:ChainAPIPortBinding">
<soap:address location="http://172.16.210.60:8210/idr-rtn/idr-rtn/chain-service"/>
</port>
</service>
</definitions>